/* id selector*/
#first_one{
margin-top: 350px;
justify-content: center;
display: flex;
animation-name: example;
animation-duration: 4s;
}

/*element selector*/
h1,p{
    color:violet;
    
    
    text-align: center;
}

 /*grouping selector*/
 h1,p{
 letter-spacing: 4px;
 }

body{
    background-color:lightgoldenrodyellow;
}

/*media queries*/
@media screen and (max-width: 480px) {
    body {
      background-color: rgb(83, 173, 83);
    }
  }

  @keyframes example {
    0%   {top: 0px; background: red; width: 100px;}
    100% {top: 200px; background: yellow; width: 300px;}
  }